:root{
    --white-color: #fffff;
    --black-color: #00000;
    --light-gray: #d3d3d3;
    --navy-blue: #000080;
}

body{
    margin: 0;
    padding: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.outer-box{
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    min-width: 350px;
    min-height: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
}

.screen{
    border-radius: 5px;
    min-width: 100%;
    min-height: 40px;
    border: 2px solid black;
    text-align: right;
}

.hide {
    display: none;
}

.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
